<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Фото студия</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <link href="/metro/jtable_metro_base.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/jtable.min.css" rel="stylesheet" type="text/css" />
    {% block css %}
    {% endblock css %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body id="admin_body">

<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li {% if pageNum == 1 %}class="active"{% endif %}><a href="/admin/orders">Заказы</a></li>
                <li {% if pageNum == 2 %}class="active"{% endif %}><a href="/admin/users">Клиенты</a></li>
                <li {% if pageNum == 3 %}class="active"{% endif %}><a href="/admin/photographers">Исполнители</a></li>
                <li {% if pageNum == 4 %}class="active"{% endif %}><a href="/admin/survey_types">Типы съемок</a></li>
                <li {% if pageNum == 5 %}class="active"{% endif %}><a href="/admin/room_types">Типы залов</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 main">
            {% block content %}

            {% endblock content %}
            <div class="alert alert-danger" role="alert" id="sectionAlert" style="display: none;">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.jtable.js" type="text/javascript"></script>
<script src="/js/jquery.jtable.ru.js" type="text/javascript"></script>
{#<script src="/admin/js/app.js" type="text/javascript"></script>#}

{% block scripts %}
{% endblock scripts %}

<footer>

</footer>
</body>
</html>
