{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <a onclick="$('#data').jtable('load')">Все</a>
            <a onclick="$('#data').jtable('load', {without_worker: 1})">Без исполнителя</a>
        </div>
        <div class="col-lg-12">
            <div id="data"></div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $('#data').jtable({
            title: 'Заказы',
            actions: {
                listAction: '/admin/orders/list',
                createAction: '/admin/orders/create',
                updateAction: '/admin/orders/update',
                deleteAction: '/admin/orders/delete'
            },
            fields: {
                id: {
                    title: 'ID',
                    key: true
                },
                idtype: {
                    title: 'Услуга',
                    options: [
                        {
                            'DisplayText': '',
                            'Value': null
                        },
                        {% for service in services %}
                        {
                            'DisplayText': '{{ service.name }}',
                            'Value': '{{ service.id }}'
                        },
                        {% endfor %}
                    ]
                },
                dateisbooking:{
                    title: 'Дата',
                    type: 'date'
                },
                timeisbooking:{
                    title: 'Время',
                },
                durationisbooking:{
                    title: 'Длительность'
                },
                orderprice:{
                    title: 'Цена',
                    create: false,
                    edit: false
                },
                idcustomer: {
                    title: 'Заказчик',
                    options: [
                        {
                            'DisplayText': '',
                            'Value': null
                        },
                        {% for customer in customers %}
                        {
                            'DisplayText': '{{ customer.name }}',
                            'Value': '{{ customer.id }}'
                        },
                        {% endfor %}
                    ]
                },
                idworker: {
                    title: 'Исполнитель',
                    options: [
                        {
                            'DisplayText': '',
                            'Value': null
                        },
                        {% for worker in workers %}
                        {
                            'DisplayText': '{{ worker.name }}',
                            'Value': '{{ worker.id }}'
                        },
                        {% endfor %}
                    ]
                },
                idhall: {
                    title: 'Зал',
                    options: [
                        {
                            'DisplayText': '',
                            'Value': null
                        },
                        {% for hall in halls %}
                        {
                            'DisplayText': '{{ hall.name }}',
                            'Value': '{{ hall.id }}'
                        },
                        {% endfor %}
                    ]
                }
            }
        });
        $(document).ready(function () {
            $('#data').jtable('load');
        });
    </script>
{% endblock scripts %}

{#
dateisbooking
timeisbooking
durationisbooking
orderprice
#}