{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div id="data"></div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $('#data').jtable({
            title: 'Исполнители',
            actions: {
                listAction: '/admin/photographers/list',
                createAction: '/admin/photographers/create',
                updateAction: '/admin/photographers/update',
                deleteAction: '/admin/photographers/delete'
            },
            fields: {
                id: {
                    title: 'ID',
                    key: true
                },
                surname: {
                    title: 'Фамилия'
                },
                name: {
                    title: 'Имя'
                },
                patronymic: {
                    title: 'Отчество'
                },
                phone: {
                    title: 'Телефон'
                },
                position: {
                    title: 'Позиция'
                }
            }
        });
        $(document).ready(function () {
            $('#data').jtable('load');
        });
    </script>
{% endblock scripts %}
