{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <a onclick="$('#data').jtable('load')">Все</a>
            <a onclick="$('#data').jtable('load', {most_popular: true})">Самый популярный</a>
        </div>
        <div class="col-lg-12">
            <div id="data"></div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $('#data').jtable({
            title: 'Типы залов',
            actions: {
                listAction: '/admin/room_types/list',
                createAction: '/admin/room_types/create',
                updateAction: '/admin/room_types/update',
                deleteAction: '/admin/room_types/delete'
            },
            fields: {
                id: {
                    title: 'ID',
                    key: true
                },
                hall: {
                    title: 'Название зала'
                },
                price: {
                    title: 'Цена'
                }
            }
        });
        $(document).ready(function () {
            $('#data').jtable('load');
        });
    </script>
{% endblock scripts %}
